* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;  
    color: #c1e1ec;
    font-family: Helvetica, Arial, sans-serif;
  }

/* HEADER STYLES START */
header {
  padding: 20px 35px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
      
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
    
  /* Leaving this here incase I decide to add again */
  /* position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0; */
}
  
header h1 {
  font-weight: bold;
  font-size: 50px;
}
  
header a {
  /* remove underlines that show text is a link */
  text-decoration: none; 
}   
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size:xx-large;
}
  
header nav ul li a:hover {
  color: #6dacc2;
}
  
/* HERO STYLES START */
.hero {
  background-image: url('../images/gears.jpg');
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  padding: 75px;
}

.hero-pic {
  float: left;
  margin: 35px 0;
  height: 350px;  
  background-color: transparent;
}

.hero-pic img  {
  height: 100%;
  border-radius: 15px;
}   

.hero-quote {
  /* so the rest of the flex box is clear */
  background-color: transparent;  
  display: flex;
  /* change the orientation of the flex box so I can put it at the bottom */
  flex-direction: column;
  justify-content: flex-end;
}

.about {
  display: inline-flex;  
  flex-wrap: wrap;
  padding: 25px;   /*padding avove the section */
}

.section-header {
  width: 200px;
}

.section-header h2 {
  margin: 0;
  color: #6dacc2;
  font-weight: lighter;
  font-size: x-large;
  text-align: right;
  padding-right: 20px;
}   

.about-text {
  width: 85%;
  padding-right: 20px;  
}
.about-text p {
  font-size: large;
}

.work {
  display: inline-flex; 
  padding: 25px;   /*padding avove the section */
  min-width: 100%;
}

.samples {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 85%;
}

.long-sample {
  background-image: url('../images/wander.JPG');
  height: 100%;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  padding-bottom: 50px;
}

.long-sample:hover {
  border-style: solid;
  border-width: thick;
  border-color: #6dacc2;
} 

.label {
  display: flex;
  /* change the orientation of the flex box so I can put it at the bottom */
  flex-direction: column;
  margin: 200px 0 0 25px;
} 

.samples-row2 {
  display: inline-flex;
  justify-content:space-around;
  padding-top: 25px;
  min-width: 100%;
}

.short-sample {
  display: flex;
  background-size: cover;
  border-radius: 15px;
  padding-bottom: 50px; 
  width: 400px;
}

.short-sample:hover {
  border-style: solid;
  border-width: thick;
  border-color: #6dacc2;
} 

.sample1 {
  background-image: url('../images/wave-banner.jpg');
}
.sample2 {
  background-image: url('../images/baby.jpg');
}
.sample3 {
  background-image: url('../images/runbuddy.JPG');
}

.contactMe {
  display: flex;  
  flex-wrap: wrap;
  padding: 25px;   /*padding avove the section */
}

.contacts {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;
  width: 85%;
  font-size: x-large;
  padding-left: 20px;
}

.contacts a:hover {
  color: #6dacc2;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding:0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 15px;
    min-height: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .work {
    flex-wrap: wrap;
  }

  .samples-row2{
    flex-wrap: wrap;
  }

  .short-sample {
    margin-bottom: 25px;
  }
}
