* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;  
    color: #c1e1ec;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
      
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px;
  }
  
  header a {
    /* remove underlines to show text is a link */
    text-decoration: none; 
  }   
  
  /*
  header nav {
    margin: 7px 0;
  }  */
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    color: #6dacc2;
    border-radius: 15px;
    /*text-shadow: none;    */
  }
  
  /* HERO STYLES START */
.hero {
    background-image: url('../images/gears.jpg');
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    padding: 75px;
    }

.hero-pic {
    float: left;
    margin: 35px 0 0 35px;
    height: 350px;
}

.hero-pic img  {
    height: 100%;
}   

.hero-quote {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: right;
}

.about {
  display: inline-flex;  
  justify-content: right;
  flex-wrap: wrap;
  padding: 25px;   /*padding avove the section */
}

.section-header {
  width: 200px;
}

.section-header h2 {
  margin: 0;
  color: #6dacc2;
  font-weight: lighter;
  font-size: 1.55vw;
  text-align: right;
  padding-right: 20px;
}   

.about-text {
  width: 85%;
  padding-right: 20px;  
}

.work {
  display: inline-flex;  
  justify-content: right;
  flex-wrap: wrap;
  padding: 25px;   /*padding avove the section */
}
.long-sample {
  display: inline-flex;
  flex-direction: column; 
  flex-wrap: wrap;
  width: 85%;

}

.long-sample img {
  /*height: 100px;  */
 
  width: 100%;
  height: 50%
 /* margin-right: 20px;  */
}